{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<main class="content">
    {% include 'app/filter.html' %}
    <div class="product_align">
        <div class="product_list">
            {% if products %}
            {% for product in products %}
            <div class="product_item">
                <img src="{{ product.product_image.url }}" alt="{{ product.name }}">
                <h3>{{ product.product_name }}</h3>
                <p>{{ product.product_description }}</p>
                <p>${{ product.product_price }} FJD</p>
                <a href="{% url 'add_to_wishlist' product.product_id %}" id="heart-link"><img src="{% static 'images/heart.png' %}" id="heart" class="heart-icon" alt="Heart Icon"></a>

            </div>
            {% endfor %}
            {% else %}
            <p>No womens products found.</p>
            {% endif %}
        </div>
    </div>


</main>

{% endblock %}